<div class="alert alert-info" role="alert">
  Gösterilecek Toplam Kayıt Sayısı: <strong><%= @collection.size %></strong>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <% @attributes.each do |attribute| %>
      <th><%= attribute %></th>
    <% end %>
  </thead>

  <tbody>
    <% @collection.each do |item| %>
      <tr>
        <% @attributes.each do |attribute| %>
          <td><%= item.public_send(attribute) %></td>
        <% end %>
      <tr>
    <% end %>
  <tbody>
</table>
