<div class="shadow p-3 mb-5 bg-white rounded">
  <%= link_to_show 'Show', @controller_action %>
  <%= link_to_back 'Back', controller_actions_path %>
</div>

<h1>Editing Controller Action</h1>

<%= render 'form', controller_action: @controller_action %>
