<div class="shadow p-3 mb-5 bg-white rounded">
  <%= link_to_new 'New Controller Action', new_controller_action_path %>
</div>

<h1 class="text-center">Controller Actions</h1>
<hr>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Action</th>
      <th>Controller</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @controller_actions.each do |controller_action| %>
      <tr>
        <td><%= controller_action.action %></td>
        <td><%= controller_action.controller %></td>
        <td><%= link_to_actions(controller_action, except: :show) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
