<div class="shadow p-3 mb-5 bg-white rounded">
  <%= link_to_show 'Show', @permission %>
  <%= link_to_back 'Back', permissions_path %>
</div>

<h1>Editing Permission</h1>

<%= render 'form', permission: @permission %>


